:root {
  --text: #1c2733;
  --bg: #fbfaf6;
  font: 16px/1.5 system-ui, "Segoe UI", Roboto, sans-serif;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #e5e4e7;
    --bg: #121212;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
}
